.card{
    box-shadow: 0 4px 8px 0 #5b595d ;
    border-radius: 5px;
    width: 30%;
}

.card:hover{
    box-shadow: 0 8px 16px 0 #3e3546 ;
}

.container{
    padding: 2px 16px;
    align-content: center;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

img{
    border-radius: 5px 5px 5px 5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 150px;
}
